@import "../../../styles/colors.scss";

.sidebar {
    min-width: 150px;
    width: 20%;
    flex-shrink: 0;
    margin-right: 20px;

    @media (max-width: 1000px) {
        display: none;
    }
}

.sidebarcategory,
.sidebarsubcategory {
    display: block;
    width: 100%;
    border: 1px solid $main-color;
    padding: 10px;
    color: $main-color;
    margin-bottom: 12px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.sidebarcategory,
.sidebarsubcategory {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        content: "\f078";
        margin-left: 8px;
        font-family: "FontAwesome";
        color: $main-color;
        font-size: 10px;
        transform: rotate(-180deg);
        transition: 0.3s;
    }
}

.sidebarcategory[data-visible="false"],
.sidebarsubcategory[data-visible="false"] {
    &::after {
        transform: rotate(0deg);
    }
}

.sidebarcategory[data-visible="false"] + .sidebar__subcategoriesblock .sidebarsubcategory,
.sidebarsubcategory[data-visible="false"] + .sidebar__servicesblock .sidebarservice {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    label,
    input[type="checkbox"] {
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }
}

.sidebarservice {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    transition: 0.3s;

    input[type="checkbox"] {
        margin: 0 8px 0 0;
    }
}
