@import "../../../styles/colors.scss";

.avatarWrapper {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $main-color, $alpha: 0.8);

    .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    span {
        color: #ffffff;
        font-weight: bold;
        font-size: 2em;
    }
}

.avatar__mediumSize {
    width: 64px;
    height: 64px;
}

.avatar__largeSize {
    width: 128px;
    height: 128px;
}
