.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main {
        flex-grow: 1;
    }
}

.flex__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page_body {
    flex-grow: 1;
    padding-bottom: 20px;

    @media (max-width: 1000px) {
        width: 100%;
    }
}
