@import "../../../styles/colors.scss";

.header {
    padding: 20px 0;
}

.header__top,
.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > *:first-child {
        width: 20%;
        margin-right: 20px;
        flex-shrink: 0;
    }

    & > *:last-child {
        flex-grow: 1;
    }
}

.header__top {
    margin-bottom: 20px;
}

.header__logoWrapper {
    display: flex;
    align-items: center;

    .header__logo {
        display: block;
    }
}

.header__searchForm {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: $main-color;
    padding: 16px 32px;

    .searchInput {
        flex-grow: 1;
        background: none;
        border-bottom: 1px solid #fff;
        margin-right: 20px;
    }

    .searchButton {
        width: unset;
        min-width: 200px;
        background: #ffffff;
        color: $main-color;

        &:hover {
            background: rgba($color: #ffffff, $alpha: 0.8);
            border: rgba($color: #ffffff, $alpha: 0.8);
        }
    }
}

.header__links {
    display: flex;
    align-items: center;

    .link {
        display: block;

        &:not(:last-child)::after {
            content: "|";
            color: #000000;
            font-weight: normal;
            margin: 0 4px;
        }
    }

    .coloredLink {
        color: $main-color;
        font-weight: bold;
    }
}
